<h2>Update current stock for: <%= @stocks.album.title %></h2>

<form class="" action="/stocks/<%= @stocks.id %>/edit" method="post">
  <label for="quantity">
    Enter Quantity:
    <input type="number" name="quantity" value="" id="quantity_input"/>
  </label>
  <input type="submit" name="" value="Submit">
</form>
