<h2>Current Stock!</h2>

<li>
  <a href="/stocks/new">Add New Stock</a>
</li>

<%  @stocks.each do |stock| %>

<p>Album: <%= stock.album.title.capitalize %> </p>
<p>Quantity: <%= stock.quantity %></p>
<p>Wholesale price: <%= stock.wholesale %></p>
<hr/>

<% end %>
