<h2>Current Stock!</h2>

<%  @stocks.each do |stock| %>

<p>Album: <%= stock.album.title.capitalize %> </p>
<p>Quantity: <%= stock.quantity %></p>
<p>Wholesale price: <%= stock.wholesale %></p>
<hr/>

<% end %>
