<h2>Update current stock</h2>

<form class="" action="/stocks/update" method="put">
  <label>
    Select Album:
    <select name="album_id" id="album_select">
      <% @stocks.each do |stock| %>
          <option value=<%= stock.id %>><%= stock.album.title %></option>
      <% end %>
    </select>
  </label>
  <label for="quantity">
    Enter Quantity:
    <input type="number" name="quantity" value="" id="quantity_input"/>
  </label>
  <input type="submit" name="" value="Submit">
</form>
