<h1>Keith's Record Store</h1>

<p>Welcome to Keith's Record Store Stock Management System...
or KISS for short.</p>

<table>
  <tr>
    <th>Album</th>
    <th></th>
    <th>Artist</th>
    <th>Quantity In Stock</th>
    <th></th>
    <th></th>
  </tr>

</table>
