<!DOCTYPE html>
<html>
  <head>
    <title>Keith's Record Store</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <h1></h1>
    <%= yield %>
  </body>
</html>
