<!DOCTYPE html>
<html>
  <head>
    <title>Keith's Record Store</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <h1>Keith's Record Store</h1>
    <nav>
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/albums">ALBUMS</a>
        </li>
        <li>
          <a href="/stocks">STOCKS</a>
        </li>
        <li>
          <a href="/artists">ARTISTS</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
