<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <title>KEITH'S RECORD STORE</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <h1>KEITH'S RECORD STORE</h1>
    <nav>
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/artists">ARTISTS</a>
        </li>
        <li>
          <a href="/albums">ALBUMS</a>
        </li>
        <li>
          <a href="/stocks">STOCKS</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
