body {
  background:  url('/images/background.jpg');
  background:-size: 100%;
  background-repeat: no-repeat;
  font-family: Helvetica, serif;
}

h1, h2, h3, h4 {
  font-family: Helvetica, serif;
  color: White;
}

p {
  color: White;
}

label {
  color: White;
}
