body {
  background:  url('/images/background.jpg');
  background-size: 135%;
  background-attachment: fixed;
  font-family: 'Barlow', sans-serif;
  padding: 15px;
  margin-left: 20px;
  margin-right: 40%;
}

h1, h2, h3, h4 {
  font-family: 'Bungee', sans-serif;
  color: White;
  background-color: rgba(0,0,0,0.4)
}

a:link, a:visited{
  background-color: rgba(0,0,0,0.6);
  text-decoration: none;
  color: white;
  border: solid grey 2px;
  font-family: 'Bungee', sans-serif;
  margin-left: 3%;
}

input[type=submit] {
  background-color: rgba(0,0,0,0.6);
  text-decoration: none;
  color: white;
  border: solid grey 2px;
  font-family: 'Bungee', sans-serif;
}

ul {
  padding-left: 3%;
}

form {
  padding-left: 10%;
  padding-right: 10%;
}

p, hr {
  color: White;
  padding-left: 5%;
  background-color: rgba(0,0,0,0.4);
  margin-right: 40%;
  margin-left: 10%;
}

li {
  display: inline;
}

label {
  color: White;
}

table, th, td, tr {
  color: White;
  padding: 15px;
  text-align: left;
  border: 2px solid white;
  background-color: rgba(0,0,0,0.3);
}
