body {
  background:  url('/images/background.jpg');
  background-size: 150%;
  background-repeat: no-repeat;
  font-family: Helvetica, serif;
}

h1, h2, h3, h4 {
  font-family: Helvetica, serif;
  color: White;
}

p {
  color: White;
}

label {
  color: White;
}

table, th, td, tr {
  color: White;
  padding: 15px;
  text-align: left;
  border: 2px solid white;
  background-color: rgba(0,0,0,0.3);
}
