<h2>All albums!</h2>

<li>
  <a href="/albums/new">Add new album</a>
</li>
<%  @albums.each do |album| %>

<p>Title: <%= album.title %> </p>
<p>Artist: <%= album.artist %></p>
<p>Retail Price: <%= album.retail %></p>
<hr/>

<% end %>
