<h2>All albums</h2>

<li>
  <a href="/albums/new">Add new album</a>
</li>
<%  @albums.each do |album| %>

<p>Title: <%= album.title %> </p>
<p>Artist: <%= album.artist.name %></p>
<p>Retail Price: <%= album.retail %></p>
<form class="" action="/albums/<%= album.id %>/delete" method="post">
  <input type="submit" name="" value="Delete">
</form>
<hr/>

<% end %>
