<h2>Enter a new album!</h2>

<form class="" action="/albums" method="post">
  <input type="text" name="title" value="album title" id="title"/>
  <input type="text" name="artist" value="album artist" id="artist"/>
  <label for="retail">Retail Price: </label>
  <input type="number" name="retail" value="retail price" id="retail"/>
</form>
