<h2>Enter a new album!</h2>

<form class="" action="/albums" method="post">
  <label for="title">Title: </label>
  <input type="text" name="title" value="" id="title_input"/>
  <label for="artist">Artist: </label>
  <input type="text" name="artist" value="" id="artist_input"/>
  <label for="retail">Retail Price: </label>
  <input type="number" name="retail" value="" id="retail_input"/>
  <input type="submit" name="" value="Submit"/>
</form>
