<h2>All Artists</h2>

<li>
  <a href="/artists/new">ADD NEW ARTIST</a>
</li>
<%  @artists.each do |artist| %>

<p>Name: <%= artist.name %></p>
<form class="" action="/artists/<%= artist.id %>/destroy" method="post">
  <input type="submit" name="" value="Delete">
</form>
<hr/>

<% end %>
